<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert your crypto here!</title>
</head>
<body>
    <div class="container">
        <h1>Crypto Converter!</h1>
        <div class="row mt-5">
            <div class="col">
                <form method="GET" action="exchange"> <!--the action is where the page will go to, ie localhost8080/exchange-->
                    <div class="input-group">Select your crypto
                        <select name="fsym" id="fsym"> <!--this needs to match request parameter-->
                            <option th:each="crypto, iterStat : ${lsOfCryptoCodes}" th:value="${lsOfCryptoCodes[iterStat.index]}">
                                <span th:text="${crypto}"></span>
                             </option>
                          </select>
                          <br>select your currency
                          <select name="tsyms" id="tsyms">
                            <option th:each="country, iterStat : ${lsOfCountryCodes}" th:value="${lsOfCountryCodeVals[iterStat.index]}">
                                <span th:text="${country}"></span>
                             </option>
                          </select>
                        <button type="submit" class="btn btn-warning btn-lg">
                            Convert
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>